/* ==========================================================================
   Variáveis - Colors
   ========================================================================== */
//Main
$primary: #fff;
$second: #4A88CB;
//Background
$background: #fff;
//Fonts
$font: #484848;
$font-title: #424848;
//Borders
$color-border-default: rgba(34, 36, 38, 0.15);

/* ==========================================================================
   Variáveis - Formatação
   ========================================================================== */
$font-tamanho-padrao: 15px;
